/* Contenido de /css/style.css */
body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f9f9f9;
    color: #ecf0f1;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    max-width: 500px;
    background-color: #34495e;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    text-align: center;
}

h1 {
    color: #3498db;
}

label {
    display: block;
    margin: 20px 0 5px;
}

select {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    background-color: #2c3e50;
    color: #ecf0f1;
}

.buttons-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px; /* Agregado para dar espacio entre los botones y la imagen */
}

button {
    width: calc(100% - 20px);
    padding: 15px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}

button:disabled {
    background-color: #bdc3c7;
    cursor: not-allowed;
}

#dogImageContainer {
    margin-top: 20px;
}

#dogImage {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}
/* Contenido de /css/style.css */
/* ... (tus estilos existentes) */

.footer {
    margin-top: 20px;
    padding-top: 10px;
    border-top: 1px solid #ccc;
    color: #95a5a6;
    font-size: 14px;
    text-align: center;
}
